  <!-- Footer -->

  <footer id="footer">
    <h2 style="font-size: 1.5rem; color: white;">CONNECT WITH US</h2>
    <a href=""><i class="footer-icon fa-brands fa-twitter"></i></a>
    <a href=""><i class="footer-icon fa-brands fa-facebook"></i></a>
    <a href=""><i class="footer-icon fa-brands fa-instagram"></i></a>
    <a href=""><i class="footer-icon fa-solid fa-envelope"></i></a>

    <hr class="footer-rule" />

    <div class="row">
      <div class="col-lg-6 brand-container">
        <a class="navbar-brand footer-brand" href="">DAILY BLOGGER</a>
        <p style="color: rgb(217, 214, 214);">
          A Blogging Website
        </p>
      </div>
      <div class="col-lg-6 footer-help">
        <h3>HELP</h3>
        <a href=""><p>
          Contact
        </p></a>
        <a href=""><p>
          FAQ
        </p></a>
        <a href=""><p>
          Shipping
        </p></a>
      </div>
    </div>

    <hr class="footer-rule"/>

    <p style="color: rgb(217, 214, 214);">© Copyright DAILY BLOGGER</p>

  </footer>


</body>

</html>